.weather-style {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: url("./assets/sunset.jpg") top left no-repeat;
  background-size: cover;
}

.curent-weather,
.forecast-weather {
  width: 350px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.title-location {
  font-weight: bold;
}
.title-location h1 {
  text-align: center;
}
.title-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.info-box {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  flex-direction: column;
}
.info {
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.info p {
  margin-bottom: -6px;
}
.info span {
  font-weight: normal;
}
.icon {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
  margin-right: 15px;
}
.cloud {
  background-image: url("./assets/cloud.png");
}
.sun {
  background-image: url("./assets/sun.png");
}
.lightRain {
  background-image: url("./assets/lightRain.png");
}
.mist {
  background-image: url("./assets/mist.png");
}
.lightShowerRain {
  background-image: url("./assets/rain.png");
}
.overcastClouds {
  background-image: url("./assets/clouds.png");
}
.search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 30px;
}
.search-input {
  border-radius: 26px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  width: 200px;
  transition: width 1s;
  margin-bottom: 10px;
}
.search-input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 13px;
  line-height: normal;
}
.search-input:focus {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  box-shadow: none;
  width: 260px;
}

.search-button {
  position: relative;
  box-shadow: none;
  border: none;
  width: 30px;
  height: 30px;
  color: #fff;
  background: none;
}
.weather-search {
  font-size: 21px !important;
}
.forecast-items {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: center;
  margin-bottom: 8px;
}
.snow {
  background: url("./assets/snow.png");
}
.icons-sx {
  width: 40px;
  height: 40px;
}
.icons-lg {
  width: 76px;
  height: 76px;
  margin-right: 7px;
}
.description-title {
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.6);
  font-size: 9px;
  font-weight: bold;
}
