.navbar-nav,
.me-auto > Link {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-evenly;
}
.navbar {
  border-bottom: 3px solid white;
  background-color: darkslateblue;
}

nav {
  justify-content: space-between !important;
}

.nav-link,
.dropdown-item {
  font-size: 1.5rem !important;
  flex-direction: row !important;
  /*flex-wrap: nowrap !important;*/
  min-width: fit-content;
}

.dropdown-item a {
  color: black !important;
  background: none !important;
}

.navbar-brand {
  font-size: 2rem !important;
  font-weight: bold;
}

.navContainer.container {
  margin: 0;
}
.iconContainer {
  display: flex;
  justify-content: space-evenly;
}
svg {
  color: white;
  font-size: 1.75rem;
  display: flex;
}

svg:hover {
  cursor: pointer;
  opacity: 70%;
}

.logo {
  margin: 0 1rem;
}

.col-lg-2 {
  display: flex;
  flex-direction: row !important;
  min-width: fit-content;
}
@media only screen and (max-width: 700px) {
  .navbar-brand {
    display: none;
  }
  .me-3, .form-control input  {
    margin: 0 !important;
  }
  
}
