.leftBarBody {
  height: 100%;
  width: 300px;
}

.apiList {
  margin-top: 0.5rem;
  list-style: none;
  /*width: max-content;*/
}

.apiListItem {
  margin: 0.2rem;
}
.apiListItem a {
  text-decoration: none;
  background-color: transparent;
  color: darkslateblue;
}
