.card {
  margin: 1rem 0 1.5rem 0;
}
.time {
  background: white;
  color: black !important;
}
.span-time {
  background: gainsboro;
}

.card:first-of-type {
  margin: 0.5rem 0 1.5rem 0 !important;
}

.card-header {
  background-color: transparent;
  color: darkslateblue;
}

.card-body,
.card-title,
.card-text,
.hstack,
.fa-thumbs-up,
.fa-thumbs-down,
.fa-share-from-square {
  background-color: white;
  color: darkslateblue;
}

.card-title {
  margin-bottom: 1.5rem !important;
}

.btn-primary {
  margin-right: 10px;
}

.vr {
  background-color: black !important;
}

.btn-primary {
  background-color: darkslateblue !important;
  border-color: darkslateblue !important;
}

svg {
  font-size: 1.5rem;
}

svg:focus {
  outline: none;
}

.comment-section {
  background-color: white !important;
}
.vstack {
  background-color: white !important;
}

.comment-username {
  font-weight: bold;
  margin-bottom: 0rem;
}
.comment-body {
  gap: 0 !important;
}

.full-comment {
  border: 1px solid darkslateblue;
  border-radius: 5px;
}

.user-post-header {
  justify-content: flex-start;
  background-color: transparent;
}
.user-post-header a {
  background-color: transparent;
  text-decoration: none;
  color: gray;
}

.post-time {
  margin-left: auto;
  background-color: transparent;
  color: gray;
}

.post-content {
  white-space: pre;
}

.post-input-field {
  min-height: 8rem !important;
}

.submit-button {
  align-self: flex-end;
}
