
.navbar-nav,
.me-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-evenly;
}
.navbar {
  border-bottom: 3px solid white;
}

.iconContainer{
  display: flex;
  justify-content: space-evenly;
}
svg {
  color: white;
  font-size: 1.75rem;
  display: flex;

}

svg:hover {
  cursor: pointer;
  opacity: 70%;
}