Link {
  text-decoration: none;
}

.navbar-nav,
.me-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-evenly;
}
.navbar {
  border-bottom: 3px solid white;
}

.iconContainer{
  display: flex;
  justify-content: space-evenly;
}
svg {
  color: white;
  font-size: 2rem;
  display: flex;
}